body {
  background-image: url("/img/perfil/32.jpg");
  font-family: "Open Sans", Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  letter-spacing: 1pt;
  font-weight: lighter;
}
@media only screen and (max-width: 575.98px) {
  body {
    background-image: url("/img/perfil/22.jpg");
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  body {
    background-image: url("/img/perfil/22.jpg");
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  body {
    background-image: url("/img/perfil/22.jpg");
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  body {
    background-image: url("/img/perfil/22.jpg");
  }
}

.accordion {
  width: 60%;
}

.carousel-caption {
  top: 10vw;
}

.carousel-caption h1 {
  font-size: 5.5em;
  text-shadow: 0 0 0.2em #8F7;
}

.carousel-caption p {
  font-size: 3.5em;
  text-shadow: 0 0 0.2em #8F7;
}

.card-body {
  margin: auto auto;
  text-align: center;
}

.featurette {
  background-color: rgba(0, 0, 0, 0.6);
}

.headline {
  position: relative;
  height: 800px;
  color: #fff;
  text-align: center;
  background-size: cover;
}
.headline:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: rgba(17, 17, 17, 0.5);
}
@media only screen and (max-width: 575.98px) {
  .headline {
    height: 300px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .headline {
    height: 350px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .headline {
    height: 400px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .headline {
    height: 450px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .headline {
    height: 500px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1823.98px) {
  .headline {
    height: 550px;
  }
}

.contcuadru {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.cuadri {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc((100% - 10px) / 2);
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 575.98px) {
  .cuadri {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .cuadri {
    width: 100%;
  }
}

.imagrande {
  width: 60%;
  margin: auto;
}

.accordion-item {
  background-color: rgba(0, 0, 0, 0.6);
}

.accordion-button {
  background-color: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
}

.accordion-collapse {
  background-color: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
}

.card {
  background-color: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
}

.contcuadru {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-light:disabled {
  color: green;
}

#accordionFlushExample {
  width: 100%;
}

.accordion-button:not(.collapsed) {
  color: #DBB536;
  background-color: #04161A;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}/*# sourceMappingURL=generales.css.map */